NODE_ENV=development

# shared
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/axioma_learn
REDIS_URL=redis://localhost:6379

# auth
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=

# ai
OPENAI_API_KEY=

# analytics / observability
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
SENTRY_AUTH_TOKEN=
SENTRY_DSN=

